--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.7.1+cu118
torchvision==0.22.1+cu118
ipykernel==7.3.0

medmnist==3.0.2
numpy==2.4.4
pandas==3.0.5
scikit-learn==1.9.0
matplotlib==3.11.1
tqdm==4.70.0
PyYAML==6.0.3
Pillow==12.2.0
